.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    font-size: 30px;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    color: black;
}

.title {
    text-align: center;
}

.row-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1260px) {
    .row-div {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.col-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 6px gray;
    border-radius: 8px;
    width: 600px;
    height: 600px;
    padding: 20px;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}