{% extends 'base.html' %}

{% block contents %}
<a class="btn btn-secondary" href="{% url 'delete' details.id %}">DELETE</a>
<a class="btn btn-primary" href="{% url 'edit' details.id %}">EDIT</a>
<a class="btn btn-info" href="{% url 'req' %}">GO TO REQUEST</a>

<div class="card" style="width: 80%; margin: 20px 0;">
  <div class="card-header">
      {{details.title}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Publish Date: </b>{{details.pub_date}}</li>
    <li class="list-group-item"><b>Author: </b>{{details.author}}</li>
    <li class="list-group-item"><b>Created At: </b>{{details.created_date}}</li>
    <li class="list-group-item"><b>Contents: </b>{{details.body}}</li>
  </ul>
</div>
{% endblock %}