{% extends 'base.html' %}

{% block contents %}
<body>
    <div class="container">
        <h1>Milliwonkim Workspace</h1>
        <h2>As A Composer: <a href="https://www.youtube.com/channel/UCXpGYSja7qYXIpPXgWO64hQ">Milliwonkim</a></h2>

        <h3>Top 1: <a href="https://www.youtube.com/watch?v=KQco5kHvZsA">보이콜드 담아 타입비트</a></h3>
        <div class="video-container" style="text-align: center; margin-top: 25px;">
            <object type="text/html" width="800" height="500" data="https://www.youtube.com/embed/KQco5kHvZsA"></object>
        </div>

        <h3>Top 2: <a href="https://www.youtube.com/watch?v=7RwY2J2Ldqc">엠비션뮤직 비워(Beer) 타입비트</a></h3>
        <div class="video-container" style="text-align: center; margin-top: 25px;">
            <object type="text/html" width="800" height="500" data="https://www.youtube.com/embed/7RwY2J2Ldqc"></object>
        </div>

        <h3>Top 3: <a href="https://www.youtube.com/watch?v=4-Xi6j1zja0">여자친구 에이프릴 매쉬업</a></h3>
        <div class="video-container" style="text-align: center; margin-top: 25px;">
            <object type="text/html" width="800" height="500" data="https://www.youtube.com/embed/4-Xi6j1zja0"></object>
        </div>

    </div>
</body>
{% endblock %}