{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'portfolio.css' %}" /> -->
{% endblock %}

{% block contents %}
<div class="container">
    <div class="title">
        <h1>Milliwonkim Workspace</h1>
        <h2><a class="link" href="https://www.youtube.com/channel/UCXpGYSja7qYXIpPXgWO64hQ">Milliwonkim</a></h2>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm">
            <div>
                <h2><a class="link" href="https://www.youtube.com/watch?v=KQco5kHvZsA">BOYCOLD TYPE BEAT</a></h2>
                <div class="video-container" style="text-align: center; margin-top: 25px;">
                    <object type="text/html" width="550" height="400" data="https://www.youtube.com/embed/KQco5kHvZsA"></object>
                </div>
            </div>
        </>
        <div class="col-sm">
            <div>
                <h2><a class="link" href="https://www.youtube.com/watch?v=7RwY2J2Ldqc">AMBITION TYPE BEAT</a></h2>
                <div class="video-container" style="text-align: center; margin-top: 25px;">
                    <object type="text/html" width="550" height="400" data="https://www.youtube.com/embed/7RwY2J2Ldqc"></object>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h2><a class="link" href="https://www.youtube.com/watch?v=FJSHEo2zC70">BTS X ONF MASHUP</a></h2>
                <div class="video-container" style="text-align: center; margin-top: 25px;">
                    <object type="text/html" width="550" height="400" data="https://www.youtube.com/embed/FJSHEo2zC70"></object>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}